<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>addUser Form</title>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center">Enter User Details</h1>
      <form action="" method="post">
        <div class="form-group">
          <label for="username">Name:</label>
          <input type="text" class="form-control" id="username" name="name">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="Number">Mobile Number:</label>
            <input type="text" class="form-control" id="email" name="mno">
          </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="text-center">
          <a href="/admin/home" class="btn btn-secondary">Back</a>
          <input type="submit" class="btn btn-primary" value="Submit">
        </div>
      </form>
    </div>
  </body>
</html>
